@using AccentureAccaBookStore.Models
@model Book


@{
    ViewBag.Title = "Agregar";
}

@{
    AccentureAcademyBookstoreEntities db = new AccentureAcademyBookstoreEntities();
    List<Author> autores = db.Author.OrderBy(au => au.AuthorName).ToList();
    List<Genre> generos = db.Genre.OrderBy(gn => gn.Genero).ToList();
}

<script>
    function nuevoAutor() {
        var lista = document.getElementById("listaAut");
        var select = lista.firstElementChild;
        var copiaSelect = select.cloneNode(true);
        copiaSelect.selectedIndex = 0;
        lista.appendChild(copiaSelect);
    }
</script>


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(b => b.Title)
        @Html.EditorFor(b => b.Title, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "ingrese el titulo del libro" } })
    </div>
    <div class="form-group">
        <label>Autores</label>
        <div id="listaAut">
            @if (this.Model != null)
            {
                foreach (Author autorLibro in this.Model.Author)
                {
                    <label>Escritor</label>
                    <select name="autores" class="form-control">
                        <option selected>Seleccione a un autor</option>
                        @foreach (Author autorActual in autores)
                        {
                            <option @(autorActual.Id.Equals(autorLibro.Id) ? "selected" : "") value="@autorActual.Id">@autorActual.AuthorName</option>
                        }
                    </select>
                }
            }
            else
            {
                <select class="form-control" name="autores">
                    <option selected>Seleccione a un autor</option>
                    @foreach (Author autor in autores)
                    {
                        <option value="@autor.Id">@autor.AuthorName</option>
                    }
                </select>
            }
            @*@Html.EditorFor(au=>au.Author.AuthorName, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "ingrese el titulo del libro" } })*@
        </div>
    </div>
    <div class="text-right"><a onclick="nuevoAutor()" class="btn btn-link">Otro autor...</a></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(b => b.Publisher.Name)
            @Html.EditorFor(b => b.Publisher.Name, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "ingrese el nombre de la editorial" } })
        </div>
        <div class="form-group col-md-4">
            <label for="">Genero</label>
            <select name="autores" class="form-control">
                @foreach (Genre gen in generos)
                {
                    <option value="@gen.Id">@gen.Genero</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(des => des.Descripcion)
        @Html.TextAreaFor(des => des.Descripcion, new { @class = "form-control", rows = "6", placeholder = "Escriba aqui su descripcion del Libro" })
    </div>
    <button class="btn btn-primary">Entrar</button>
}

